@import "vars";
@import "libs";
@import "fonts";
@import "global";

/****************** main-styles **********************/


.header {
    min-height: 100%;
    background: url(../img/header-bg.png) top no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 21rem;

    .description {
        margin-top: 10rem;
        padding-bottom: 5rem;
    }
}

.discover {
    img {
        z-index: -1;
        width: 100%;
    }

    form {
        input {
            height: 3rem;
            color: #fff;
            transition: all, .5s;
            border-radius: 8px;
        }

        div {
            margin: 0;
            padding: 0 5px 0 0;
        }
    }
}

.mobile-app {
    min-height: 100%;
    background: url(../img/mobileapp-bg.png) top no-repeat;
    background-size: cover;
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 450px;

    .description {
        position: relative;

        &::before {
            content: '';
            background: url(../img/waves.png) center no-repeat;
            background-size: contain;
            height: 35px;
            width: 120px;
            position: absolute;
            top: -150px;
            left: 140px;
        }

        .btn {
            margin-top: 30px;
        }
    }

    img {
        height: 750px;
    }

}

.uber-account {
    background: url(../img/plate-bg.png) top no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    margin-top: -140px;

    .description {
        padding: 200px 0 300px;
        position: relative;

        &::before {
            content: '';
            background: url(../img/waves.png) center no-repeat;
            height: 35px;
            width: 120px;
            position: absolute;
            bottom: 100px;
            left: 200px;
        }
    }
}

.track {
    min-height: 100%;
    background: url(../img/track-bg.png) top no-repeat;
    background-size: cover;
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 450px;

    img {
        height: 750px;
    }
}

.getapp {
    min-height: 100%;
    background: url(../img/getapp-bg.png) top no-repeat;
    background-size: cover;
    padding-bottom: 400px;
    margin-top: -280px;

    &-description {
        padding: 370px 0 300px;
    }

    .description {
        position: relative;
        margin: 20px 0 40px;

        &::before {
            content: '';
            background: url(../img/waves.png) center no-repeat;
            background-size: contain;
            height: 35px;
            width: 120px;
            position: absolute;
            bottom: 215px;
            left: -300px;
        }
    }
}

.partnership {
    background: url(../img/partnerhip-bg.png) top no-repeat;
    background-size: cover;
    margin-top: -257px;



    &-description {
        padding: 300px 0 170px;

        &__line {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                border-right: 2px solid #d9dadb;
                height: 100%;
                top: -15px;

            }
        }

        &__item {
            position: relative;
            margin-bottom: 100px;

            h2 {
                color: #6ece0f;
                padding: 20px 0;
            }

            p {
                font-size: 0.9rem;
                line-height: 1.5rem;
            }

            .btn {
                position: absolute;
                bottom: -45px;
            }
        }

    }
}

.footer {
    background: url(../img/footer-bg.png) center no-repeat;
    background-size: cover;
    color: #fff;
    line-height: 2.5rem;
    padding-bottom: 40px;

    &__line {
        position: relative;
        padding-top: 120px;
        border-bottom: 1px solid #383838;
    }

    &__select-language {

        &__lang {
            padding: 40px 0 5px;
            border-bottom: 1px solid #383838;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                color: #6ece0f;
            }
        }

        &__social {
            padding-top: 30px;
            font-size: 2rem;
        }

    }

    &__nav {
        margin-left: -80px;
        padding-top: 40px;

    }

    &__getapp {

        &__stores {
            margin: 0;
        }

        img {
            height: 40px;
        }

    }

    &__postscriptum {
        color: rgba(#fff, .5);
    }
}

.footer__getapp {
    padding-top: 40px;
}

@import "media";